.main-base {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.header {
    position: relative;
    max-width: 1440px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.header_inner {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 auto;
     padding: 28px 80px;

}
.header-left {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 0%;
}
.header-right {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0%;
}
.header-logo {
    cursor: pointer;
    text-decoration: none;
    color: rgb(128, 128, 128);

}
.logo {
   color: var(--primary-clr);
   font-size: 20px;
   
}

.header-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--primary-font);
    
}
.list-item {
    margin: 0 20px;
    border-bottom: 2px solid var(--primary-clr);
    padding-bottom: 10px ;
    color: rgb(128, 128, 128);
}
.user-menu {
    position: absolute;
    top: 95px;
    left: 50px;
    background-color:#fff;
    padding: 16px 24px;
    border-radius: 16px;
    max-width: 110px;
    z-index: 1;
    border: 1px solid var(--primary-clr);
    display: none;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}

.user-link {
    margin-bottom: 16px;
    color: rgb(128, 128, 128);
    font-size: 17px;
    line-height: 28px;
    text-decoration: none;
    font-family: var(--primary-font);
   
}
.user-link:hover {
    color: var(--primary-clr);
}
.user-disp {
    display: block;
}
