.project-section {
    position: relative;
    box-sizing: border-box;
    background-color: var(--secondary-clr);
}
.project-wrapper {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.project_heading {
    margin: 60px auto 0;
    font-family: var(--secondary-font);
    font-size: 72px;
    font-weight:bold;
    text-align: center;
}
.project_txt {
    margin: 30px auto 0;
    line-height: 1.6;
    font-size: 24px;
    font-family: var(--primary-font);
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 385px); 
    grid-gap: 30px;
    margin-top: 50px;
}
.grid_item {
    min-height: 385px;
    position: relative;
}
.gd-one {
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--primary-font);  
    background-color: #fff;  
}

.gd-three {
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--primary-font);  
    background-color: black;  
    color: white;
}
.gd-two {
    display: flex;
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/cb90b2e84307548d92caf296/trrt.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.grid_heading {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400;
}
.grid_txt {
    margin-top: 32px;
    line-height: 1.8;
    font-family: var(--primary-font);
    text-align: center;
}
.grid_item:hover {
    animation: zoom 0.8s forwards;
}
@keyframes zoom {
    0% {
        transform: scale(1);
        box-shadow: 0 5px 5px var(--txt-clr);
    }
    100% {
        transform: scale(1.05);
    }
}
.bg-img_a {
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/7b41792002e653d393caf40e/vbvbvbvb.jpg")
}
.bg-img_b {
    background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/5f2cac1f3cfd566a91b4507b/gffgfgfg-min.jpg");
}